
<img src="cruz.svg" alt="" width="30px" class="X-logout">

<section class="false-nav">
  <div>
    <h2>Your stories, pick one:</h2>
  </div>
</section>

<section class="cards" *ngFor="let story of stories">
  <div>
    <h3>{{story.title}}</h3> <a [routerLink]="['/stories', story._id, 'read']">Read</a>
    <p>{{story.text}}</p>
  </div>
</section>

<div class="icon-footer">
  <img src="./assets/images/profile.svg" width="40px" height="40px">
  <a [routerLink]="['/stories']"><img src="./assets/images/time.svg" alt="" width="40px" height="40px"></a>
</div>