<div>
  <h1>Choose time</h1>
    <form class="forms" (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
      
        <div class="value"></div>
        <div class="drop"></div>
     
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && timeField.errors}">
      <input type="range" list="time" min="5" max="45" value="0" step="5" [(ngModel)]="time" name="time">
        <div class="bar"></div>

        <div *ngIf="feedbackEnabled && timeField.errors">
          <p *ngIf="timeField.errors.required" class="validation">Time is required</p>
        </div>
    </div>
    </form>
  <button *ngIf="time >=0"[routerLink]="['/stories', time]" class="button">GO!</button>
</div>
