<div class="stories-title">
  <h3>Profit from your waiting hours <br> How much time do you have?</h3>
  <br>
    <form class="forms" (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
      
        <div class="value"></div>
        <div class="drop"></div>
     
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && timeField.errors}">
      <input type="range" list="time" min="5" max="45" value="0" step="5" [(ngModel)]="time" name="time">
        <div class="bar"></div>

        <div *ngIf="feedbackEnabled && timeField.errors">
          <p *ngIf="timeField.errors.required" class="validation">Time is required</p>
        </div>
    </div>
    </form>
    <br><br><br>
  <div class="button-time">
    <button *ngIf="time >=0"[routerLink]="['/stories', time]" class="button">GO!</button>
  </div>
</div>

<div class="icon-footer">
  <img src="./assets/images/profile.svg" width="50px" height="50px">
  <a [routerLink]="['/stories']"><img src="./assets/images/time.svg" alt="" width="50px" height="50px"></a>
</div>