<body>
<section class="signup-form">
  <div class="signup-form">
    <form class="form" (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
    <h2>Signup or <a href="">log in</a></h2>

      <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
        <label>username*</label>
        <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="5" [disabled]="processing"
          placeholder="ByronHack" />

        <div *ngIf="feedbackEnabled && usernameField.errors">
          <p *ngIf="usernameField.errors.required" class="validation">Username required</p>
          <p *ngIf="usernameField.errors.minlength" class="validation">Username is too short</p>
        </div>
      </div>

      <div class="field" [ngClass]="{'has-error': feedbackEnabled && emailField.errors}">
        <label>email*</label>
        <input type="text" name="email" [(ngModel)]="email" #emailField="ngModel" required minlength="6" [disabled]="processing"
          placeholder="byron@byronhack.com" />

        <div *ngIf="feedbackEnabled && usernameField.errors">
          <p *ngIf="usernameField.errors.required" class="validation">Email required</p>
        </div>
      </div>

      <div class="field" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
        <label>password*</label>
        <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="6" [disabled]="processing"
          placeholder="******" />
      
        <div *ngIf="feedbackEnabled && passwordField.errors">
          <p *ngIf="passwordField.errors.required" class="validation">Password required</p>
          <p *ngIf="passwordField.errors.minlength" class="validation">Password is too short</p>
        </div>
      </div>

      <div class="field submit">
        <button type="submit" class="button" [disabled]="processing">Sign up</button>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">There are errors in the form, please review the fields</p>
        </div>

        <p>Inputs with * are required</p>


      </div>
    </form>
  </div>
</section>

<div class="false-footer">
  <p>
    < Done with love>
      <br> by Rapha & Germán</p>
</div>
</body>