body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: Gilroy; */
  font-size: 20px;
  line-height: 147%;
  background-color: #5695E2;
  color: #ffff;
}

/* ---- button ---- */

.button {
  background-color: #ffff;
  color: #5695E2;
  font-size: 24px;
  padding: 6px;
  font-weight: 600;
  z-index: 2;
  box-shadow:0 0 #fff, 6px 5px  rgb(230, 229, 229);
  width: 120px;
}

.button:hover {
 box-shadow:0 0 #fff, 0px 0px  rgb(230, 229, 229);
 position:relative;
 top: 6px;
}


/* ---- login-form ---- */

.login-form {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form .field {
  margin-bottom: 20px;
}

.form label {
	display: block;
	margin-bottom: 10px;
}

.form input {
  padding: 5px;
  font-size: 18px;
  width: 100%;
}

form .submit {
  padding-top: 20px;
  text-align: center;
}


/* ---- false-footer ---- */
.false-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.false-footer p {
  text-align: center;
  font-size: 16px;
}


/* ---- signup-form ---- */

.signup-form {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form .field {
  margin-bottom: 20px;
}

.form label {
	display: block;
	margin-bottom: 10px;
}

.form input {
  padding: 5px;
  font-size: 18px;
  width: 100%;
}

form .submit {
  padding-top: 10px;
  text-align: center;
}


/* ---- main-title ---- */

.main-title {
  text-align: right;
  margin-right: 10%;
  margin-top: 80%;
}

/* ---- main-buttons ---- */

.main-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15%;
}


@media only screen and (min-width: 450px) {
  .main-title {
    text-align: center;
    margin-right: 0%;
    font-size: 30px;
  }

  .main-page {
    margin-top: 300px;
  }

  .button {
    font-size: 30px;
    width: 200px;
  }

  .false-footer {
    font-size: 25px;
    line-height: 30px;
  }

}


/* ---- false-nav ---- */

.false-nav {
  background-color: #5695E2;
  color: #fff;
  padding: 0 0 10px 10px;
}

.user {
  padding: 10px;
}

.user img {
  float: right;
  margin-top: -5px;
}

/* ---- cards ---- */

.cards {
  margin: 10px;
  padding: 5px;
  box-shadow: 0 0 16px 1px rgb(105, 105, 105);
  background-color: #ffff;
  color:#111
}

.cards h3{
  color: #5695E2;
}

/* ---- icon-footer ---- */

.icon-footer {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

/* ---- button-time ---- */

.button-time {
  text-align: center;
}

.stories-title h3{
  text-align: center;
}