

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color: #fff;
}


/* ---- Animation-menu ---- */

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes checked-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes checked {
  0% {
    height: 0;
  }
  100% {
    height: 130%;
  }
} */

/* ---- Burger-menu ---- */
.nav {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 70px;
  line-height: 70px;
  background-color: #425B7A;
}
.menu {
  margin: 0 30px 0 0;
}
.menu a {
  clear: right;
  text-decoration: none;
  color: #fff ;
  margin: 0 10px;
  line-height: 50px;
}


/* ---- Initial-text ---- */

.initial-text {
  position: absolute;
  color: #111;
  top: 35%;
  right: 50%;
  text-align: right;
}

.initial-text p{
  text-align: center;
}

/* ---- Button-title ---- */

.button-title {
  background: none;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  margin: 5px;
  overflow: hidden;
  font-size: 12px;
  background-color: black;
}

.button-title:hover {
  background-color: #111;
  color:#03A9F4;
}

.button-title:active {
  box-shadow: 0 5px;
  transform: translateY(4px);
}

/* ---- Footer-title ---- */

.footer-title {
  background-color: #425B7A;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #fff;
  text-align: right;
  padding: 6px;
}
/* ---- Form ---- */

form.is-processing {
  opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
  font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
  background-color:#dfe4ea;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #2286c3;
  cursor: pointer;
  color: black;
}

form .field.has-error label {
	color: white;
}

form .validation {
	margin: 5px 0 10px;
	color: black;
}

form .field.has-error input {
	border: 1px solid  black;
}

/* ---- Signup-form ---- */

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #fff;
}

/* ---- Time-form ---- */

.time-form {
  background-color: #dfe4ea;
}
.time-button {
  margin-top: 15px; 
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #2286c3;
  cursor: pointer;
  color: black;
}